.icon {
  cursor: pointer;

  &--menu {
    background-image: url(../images/icons/Icon-Burger-menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url(../images/icons/Icon-Close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--facebook {
    background-image: url(../images/icons/facebook.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--twitter {
    background-image: url(../images/icons/twitter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &--instagram {
    background-image: url(../images/icons/instagram.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24px;
    height: 24px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
